<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ティザーページテスト</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- main CSS -->
    <link rel="stylesheet" href="/public/stylesheets/index.css" type="text/css">
    <!-- reset css -->
    <link rel="stylesheet" href="/public/stylesheets/reset.css" type="text/css">
    <!-- font-family -->
    <!-- <link rel="stylesheet" href="font/donau"> -->
  </head>
  <body>
    <!-- messenger Button -->
    <script>
       window.fbAsyncInit = function() {
         FB.init({
           appId: "498841083787161",
           xfbml: true,
           version: "v2.6"
         });

       };

       (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) { return; }
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
   </script>
    <header class="header">
      <nav id="TopMenuList">
        <ul>
          <li>
            <a href="#">TOP</a>
          </li>
          <li>
            <a href="#">VIDEO</a>
          </li>
          <li>
            <a href="#">PRIVACY</a>
          </li>
          <li>
            <a href="#">CONTACT US</a>
          </li>
        </ul>
      </nav> <!-- TopMenuList -->
    </header>
    <div class="container">
      <div class="left-container">
        <h1 class="logo">sipty</h1>
        <div class="description">
          siptyはあなたの代わりにFacebookの友達を自動で誘ってくれます。すでにつながっている友達だからこそ、誘う必要もないし、チャットをする必要もない。あなたがやることは、予定をチェックするだけ。
        </div>
        <div class="fb-messengermessageus"
            messenger_app_id="498841083787161"
            page_id="1063773873726112"
            color="white"
            size="xlarge">
        </div>
      </div> <!-- left-container -->
      <div class="right-container">
        <div class="device">
          <img src="/public/images/sipty_iphone7jetblack_portrait.png" alt="" class="first-device">
        </div>
      </div> <!-- right-container -->
    </div> <!-- container -->




   <!-- third-partyのライブラリ読み込み -->
   <script type="text/javascript" src="/public/third_party/jquery/dist/jquery.js"></script>
   <script type="text/javascript" src="/public/third_party/bootstrap/dist/js/bootstrap.js"></script>
   <script type="text/javascript" src="/public/javascripts/index.js"></script>
  </body>
</html>
