<!DOCTYPE html>
<html>
<head>
<title>Facebook Login JavaScript Example</title>
<meta charset="UTF-8">
</head>
<body>
  <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-app.js"></script>

  <a href="/auth/facebook">Login with Facebook</a>


</body>
</html>
